## Desafío - Regresión desde el aprendizaje de máquinas
### Cristian Vidal Muñoz

En esta sesión trabajaremos una base de datos sobre los precios de las viviendas en Boston, utilizada en el paper Harrison Jr, D., & Rubinfeld, D. L. (1978). Hedonic housing prices and the demand for clean air. Journal of environmental economics and management, 5(1), 81-102.<br>

Nuestro objetivo es __desarrollar un modelo predictivo para el valor mediano de las casas (medv)__ mediante el entrenamiento de un modelo de regresión lineal.


- __crim :__ Tasa de criminalidad por sector de Boston
- __zn :__ proporción de terreno residencial asignado para terrenos baldíos.
- __indus :__ proporción de negocios no asociados al comercio por sector.
- __chas :__ Dummy 1: Si el sector colinda con el río Charles, 0: de lo contrario.
- __nox :__ Concentración de Dioxido de Carbono.
- __rm :__ cantidad promedio de habitaciones por casa.
- __age :__ proporción de casas construídas antes de 1940 
- __dis :__ distancia promedio a cinco centros de empleos. 
- __rad :__ índice de accesibilidad a autopistas.
- __tax :__ nivel de impuestos asociados a viviendas. 
- __ptratio :__ razón alumno:profesor por sector de Boston.
- __black :__ proporción de afroamericanos por sector de Boston.
- __lstat :__ porcentaje de población de estratos bajos.
- __medv :__ valor mediano de las casas

### Desafío 1: Prepare el ambiente de trabajo

* Importe las librerías básicas para el análisis de datos.
* Importe el módulo linear_model , y las funciones mean_squared_error , r2_score y train_test_split

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

* Importe la base de datos boston.csv y elimine la columna Unnamed: 0 .

In [2]:
df = pd.read_csv('boston.csv')
df_droped = df.drop(['Unnamed: 0'], axis=1)

* Obtenga las medidas descriptivas de la base de datos con .describe()

In [3]:
df_droped.describe().round(2)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
count,506.00,506.00,506.00,506.00,506.00,506.00,506.00,506.00,506.00,506.00,506.00,506.00,506.00,506.00
mean,3.61,11.36,11.14,0.07,0.55,6.28,68.57,3.80,9.55,408.24,18.46,356.67,12.65,22.53
std,8.60,23.32,6.86,0.25,0.12,0.70,28.15,2.11,8.71,168.54,2.16,91.29,7.14,9.20
min,0.01,0.00,0.46,0.00,0.38,3.56,2.90,1.13,1.00,187.00,12.60,0.32,1.73,5.00
25%,0.08,0.00,5.19,0.00,0.45,5.89,45.02,2.10,4.00,279.00,17.40,375.38,6.95,17.02
50%,0.26,0.00,9.69,0.00,0.54,6.21,77.50,3.21,5.00,330.00,19.05,391.44,11.36,21.20
75%,3.68,12.50,18.10,0.00,0.62,6.62,94.07,5.19,24.00,666.00,20.20,396.22,16.96,25.00
max,88.98,100.00,27.74,1.00,0.87,8.78,100.00,12.13,24.00,711.00,22.00,396.90,37.97,50.00

### Desafío 2: División de la muestra

* Genere conjuntos de entrenamiento y validación con __train_test_split__ .
* Genere segmentaciones del 33% para las muestras de validación.
* Incluya una semilla pseudoaleatoria

In [4]:
semilla_pseudoaleatoria = 11238

# separemos los vectores a trabajar
y_vec= df_droped.loc[:, 'medv']
X_mat = df_droped.drop('medv', axis=1)

In [5]:
y_vec.shape

(506,)

In [6]:
y_vec.sample(5)

379    10.2
64     33.0
7      27.1
206    24.4
395    13.1
Name: medv, dtype: float64

In [7]:
X_mat.shape

(506, 13)

In [8]:
X_mat.sample(5)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
291,0.07886,80.0,4.95,0,0.4110,7.148,27.7,5.1167,4,245,19.2,396.90,3.56
227,0.41238,0.0,6.20,0,0.5040,7.163,79.9,3.2157,8,307,17.4,372.08,6.36
281,0.03705,20.0,3.33,0,0.4429,6.968,37.2,5.2447,5,216,14.9,392.23,4.59
440,22.05110,0.0,18.10,0,0.7400,5.818,92.4,1.8662,24,666,20.2,391.45,22.11
49,0.21977,0.0,6.91,0,0.4480,5.602,62.0,6.0877,3,233,17.9,396.90,16.20

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X_mat, 
                                                    y_vec, 
                                                    test_size=.33, 
                                                    random_state=semilla_pseudoaleatoria)

In [10]:
X_train.shape

(339, 13)

In [11]:
X_train.sample(5)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
248,0.16439,22.0,5.86,0,0.431,6.433,49.1,7.8265,7,330,19.1,374.71,9.52
483,2.81838,0.0,18.10,0,0.532,5.762,40.3,4.0983,24,666,20.2,392.92,10.42
113,0.22212,0.0,10.01,0,0.547,6.092,95.4,2.5480,6,432,17.8,396.90,17.09
386,24.39380,0.0,18.10,0,0.700,4.652,100.0,1.4672,24,666,20.2,396.90,28.28
134,0.97617,0.0,21.89,0,0.624,5.757,98.4,2.3460,4,437,21.2,262.76,17.31

In [12]:
y_train.shape

(339,)

In [13]:
y_train.sample(5)

438     8.4
147    14.6
455    14.1
71     21.7
86     22.5
Name: medv, dtype: float64

In [14]:
X_test.shape

(167, 13)

In [15]:
X_test.sample(5)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
177,0.05425,0.0,4.05,0,0.510,6.315,73.4,3.3175,5,296,16.6,395.60,6.29
302,0.09266,34.0,6.09,0,0.433,6.495,18.4,5.4917,7,329,16.1,383.61,8.67
408,7.40389,0.0,18.10,0,0.597,5.617,97.9,1.4547,24,666,20.2,314.64,26.40
187,0.07875,45.0,3.44,0,0.437,6.782,41.1,3.7886,5,398,15.2,393.87,6.68
318,0.40202,0.0,9.90,0,0.544,6.382,67.2,3.5325,4,304,18.4,395.21,10.36

In [16]:
y_test.shape

(167,)

In [17]:
y_test.sample(5)

243    23.7
419     8.4
188    29.8
452    16.1
216    23.3
Name: medv, dtype: float64

### Desafío 3: Generación de modelos

* Ahora implementaremos dos versiones del modelo lineal:
    * Con intercepto y atributos normalizados.
    * Sin intercepto y atributos no normalizados.
* Cada versión debe generarse en un nuevo objeto inicializado.
* Posteriormente se deben entrenar los modelos especificando la matriz y vector de entrenamiento.
* Con los modelos entrenados, genere una predicción de matriz de validación.

___Modelo de regresión Con intercepto y atributos normalizados___

In [18]:
modelo_con_intercepto_normalizado = linear_model.LinearRegression(fit_intercept=True, normalize=True)
modelo_con_intercepto_normalizado

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

In [19]:
modelo_con_intercepto_normalizado.fit(X_train, y_train) # aprendizaje, entrenar
modelo_con_intercepto_normalizado_predict = modelo_con_intercepto_normalizado.predict(X_test)
modelo_con_intercepto_normalizado_predict.shape

(167,)

___Modelo de regresion Sin intercepto y atributos no normalizados___

In [20]:
modelo_sin_intercepto_no_normalizado = linear_model.LinearRegression(fit_intercept=False, normalize=False)
modelo_sin_intercepto_no_normalizado

LinearRegression(copy_X=True, fit_intercept=False, n_jobs=None,
         normalize=False)

In [21]:
modelo_sin_intercepto_no_normalizado.fit(X_train, y_train) # aprendizaje, entrenar
modelo_sin_intercepto_no_normalizado_predict = modelo_sin_intercepto_no_normalizado.predict(X_test)
modelo_sin_intercepto_no_normalizado_predict.shape

(167,)

### Desafío 4: Obtención de métricas

* Ahora generemos una función llamada __report_scores__ que ingrese como argumentos el vector de datos predichos y el vector de datos por validar.
* La función debe imprimir las métricas del __Error Cuadrático Promedio__ y __R2__.
* Reporte las métricas para ambos modelos. En base a ello, __seleccione el mejor modelo__.

In [22]:
# Comparar el poder predictivo entre los dos modelos mediante el promedio del error__
def report_scores(y_test, modelo_predict):
    mse_modelo = mean_squared_error(y_test, modelo_predict).round(0)
    r2_modelo = r2_score(y_test, modelo_predict).round(2)
    print("Mean Squared Error: {}".format(mse_modelo))
    print("R-cuadrado: {}".format(r2_modelo))

In [23]:
print("Modelo Con Intercepto y Atributos Normalizados")
print("------------------------------------------------")
report_scores(y_test, modelo_con_intercepto_normalizado_predict)

Modelo Con Intercepto y Atributos Normalizados
------------------------------------------------
Mean Squared Error: 31.0
R-cuadrado: 0.6

In [24]:
print("Modelo Sin Intercepto Y Atributos No Normalizados")
print("------------------------------------------------")
report_scores(y_test, modelo_sin_intercepto_no_normalizado_predict)

Modelo Sin Intercepto Y Atributos No Normalizados
------------------------------------------------
Mean Squared Error: 34.0
R-cuadrado: 0.55

__Existe evidencia para preferir el Modelo con Intercepto y Atributos Normalizados, dado que presenta un mejor nivel de ajuste (Mean Squared Error) y una mejor capacidad explicativa (R-cuadrado) en la variabilidad de nuestro vector objetivo.__

### Desafío 5: Refactorización del modelo

* Genere una función llamada fetch_features que ingrese como argumentos la base de datos y el nombre del vector objetivo. El nombre del vector debe ser medv por defecto
* La función debe retornar una lista con las correlaciones entre cada atributo y el vector objetivo y su nombre.
* Reporte brevemente cuales los 6 atributos con una mayor correlación con medv

In [25]:
def fetch_features(dataframe, vector_objetivo="medv"):
    # extraemos los nombres de las columnas en la base de datos
    columns = dataframe.columns
    # generamos 3 arrays vacíos para guardar los valores
    # nombre de la variable
    attr_name = []
    # correlación de pearson
    pearson_r = []
    # valor absoluto de la correlación
    abs_pearson_r = []
    # para cada columna en el array de columnas
    for col in columns:
        # si la columna no es la dependiente
        if col != vector_objetivo:
            # adjuntar el nombre de la variable en attr_name
            attr_name.append(col)
            # adjuntar la correlación de pearson
            pearson_r.append(dataframe[col].corr(dataframe[vector_objetivo]))
            # adjuntar el absoluto de la correlación de pearson
            abs_pearson_r.append(abs(dataframe[col].corr(dataframe[vector_objetivo])))
    # transformamos los arrays en un DataFrame
    features = pd.DataFrame({
        'attribute': attr_name,
        'corr':pearson_r,
        'abs_corr':abs_pearson_r
    })
    # generamos el index con los nombres de las variables
    features = features.set_index('attribute')
    # ordenamos los valores de forma descendiente
    return features.sort_values(by=['abs_corr'], ascending=False)

In [26]:
fetch_features(df_droped)

               corr  abs_corr
attribute
lstat     -0.737663  0.737663
rm         0.695360  0.695360
ptratio   -0.507787  0.507787
indus     -0.483725  0.483725
tax       -0.468536  0.468536
nox       -0.427321  0.427321
crim      -0.388305  0.388305
rad       -0.381626  0.381626
age       -0.376955  0.376955
zn         0.360445  0.360445
black      0.333461  0.333461
dis        0.249929  0.249929
chas       0.175260  0.175260

__Para reducir el error cuadrático seleccionaremos aquellas correlaciones que sean superior al .40.__

In [27]:
fetch_features(df_droped).head(6)

               corr  abs_corr
attribute
lstat     -0.737663  0.737663
rm         0.695360  0.695360
ptratio   -0.507787  0.507787
indus     -0.483725  0.483725
tax       -0.468536  0.468536
nox       -0.427321  0.427321

__Los 6 atributos con una mayor correlación con el valor mediano de las casas (medv) son: porcentaje de población de estratos bajos (lstat), cantidad promedio de habitaciones por casa (rm), cantidad promedio de habitaciones por casa (ptratio), proporción de negocios no asociados al comercio por sector (indus), nivel de impuestos asociados a viviendas (tax) y Concentración de dióxido de carbono (nox).__

### Desafío 6: Refactorización del modelo predictivo

* Genere otros conjuntos de entrenamiento y validación en base a una matriz con los 6 atributos identificados y el vector objetivo.
* Entrene un modelo en base al mejor desempeño.
* Reporte las métricas para el nuevo modelo

In [28]:
# separemos los vectores a trabajar
df_ref = df_droped.loc[:,['medv','lstat','rm','ptratio','indus','tax','nox']]
y_vec_ref = df_ref.loc[:, 'medv']
X_mat_ref = df_ref.drop('medv', axis=1)

In [29]:
X_train_ref, X_test_ref, y_train_ref, y_test_ref = train_test_split(X_mat_ref, 
                                                                    y_vec_ref, 
                                                                    test_size=.33, 
                                                                    random_state=semilla_pseudoaleatoria)

In [30]:
modelo_refactorizado = linear_model.LinearRegression(fit_intercept=True, normalize=True)
modelo_refactorizado.fit(X_train_ref, y_train_ref) # Modelo entrenado
modelo_refactorizado_predict = modelo_refactorizado.predict(X_test_ref)

In [31]:
print("Modelo con Intercepto y Atributos Normalizados (Refactorizado) ")
print("------------------------------------------------")
report_scores(y_test_ref, modelo_refactorizado_predict)

Modelo con Intercepto y Atributos Normalizados (Refactorizado)
------------------------------------------------
Mean Squared Error: 38.0
R-cuadrado: 0.51

### Desafío 7: Predicción de casos

A continuación se generaron dos arrays que representan el peor escenario posible
__( worst_neighbor )__ y el mejor escenario posible __( best_neighbor ).__
Ingrese los arrays en el modelo entrenado y reporte cuál sería el valor esperado dada las
condiciones.

In [32]:
worst_neighbor = np.array([37.9, 12.6, 3.5, 27.7, 187, 0.87]).reshape(1,-1) # peor escenario posible
best_neighbor = np.array([1.73, 22, 8.7, 0.46, 711, 0.38]).reshape(1,-1) # mejor escenario posible

In [33]:
worst_neighbor_predict = modelo_refactorizado.predict(worst_neighbor)[0]
best_neighbor_predict = modelo_refactorizado.predict(best_neighbor)[0]

In [34]:
print("Valor esperado peor escenario posible: {}".format(round(worst_neighbor_predict,2)))
print("Valor esperado mejor escenario posible: {}".format(round(best_neighbor_predict,2)))

Valor esperado peor escenario posible: 59.97
Valor esperado mejor escenario posible: 118.56