## Desafío - Regresión desde el aprendizaje de máquinas
### Cristian Vidal Muñoz

En esta sesión trabajaremos una base de datos sobre los precios de las viviendas en Boston, utilizada en el paper Harrison Jr, D., & Rubinfeld, D. L. (1978). Hedonic housing prices and the demand for clean air. Journal of environmental economics and management, 5(1), 81-102.<br>

Nuestro objetivo es __desarrollar un modelo predictivo para el valor mediano de las casas (medv)__ mediante el entrenamiento de un modelo de regresión lineal.


- __crim :__ Tasa de criminalidad por sector de Boston
- __zn :__ proporción de terreno residencial asignado para terrenos baldíos.
- __indus :__ proporción de negocios no asociados al comercio por sector.
- __chas :__ Dummy 1: Si el sector colinda con el río Charles, 0: de lo contrario.
- __nox :__ Concentración de Dioxido de Carbono.
- __rm :__ cantidad promedio de habitaciones por casa.
- __age :__ proporción de casas construídas antes de 1940 
- __dis :__ distancia promedio a cinco centros de empleos. 
- __rad :__ índice de accesibilidad a autopistas.
- __tax :__ nivel de impuestos asociados a viviendas. 
- __ptratio :__ razón alumno:profesor por sector de Boston.
- __black :__ proporción de afroamericanos por sector de Boston.
- __lstat :__ porcentaje de población de estratos bajos.
- __medv :__ valor mediano de las casas

### Desafío 1: Prepare el ambiente de trabajo

* Importe las librerías básicas para el análisis de datos.
* Importe el módulo linear_model , y las funciones mean_squared_error , r2_score y train_test_split

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

* Importe la base de datos boston.csv y elimine la columna Unnamed: 0 .

In [2]:
df = pd.read_csv('boston.csv')
df_droped = df.drop(['Unnamed: 0'], axis=1)

* Obtenga las medidas descriptivas de la base de datos con .describe()

In [3]:
df_droped.describe().round(2)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
count,506.00,506.00,506.00,506.00,506.00,506.00,506.00,506.00,506.00,506.00,506.00,506.00,506.00,506.00
mean,3.61,11.36,11.14,0.07,0.55,6.28,68.57,3.80,9.55,408.24,18.46,356.67,12.65,22.53
std,8.60,23.32,6.86,0.25,0.12,0.70,28.15,2.11,8.71,168.54,2.16,91.29,7.14,9.20
min,0.01,0.00,0.46,0.00,0.38,3.56,2.90,1.13,1.00,187.00,12.60,0.32,1.73,5.00
25%,0.08,0.00,5.19,0.00,0.45,5.89,45.02,2.10,4.00,279.00,17.40,375.38,6.95,17.02
50%,0.26,0.00,9.69,0.00,0.54,6.21,77.50,3.21,5.00,330.00,19.05,391.44,11.36,21.20
75%,3.68,12.50,18.10,0.00,0.62,6.62,94.07,5.19,24.00,666.00,20.20,396.22,16.96,25.00
max,88.98,100.00,27.74,1.00,0.87,8.78,100.00,12.13,24.00,711.00,22.00,396.90,37.97,50.00

### Desafío 2: División de la muestra

* Genere conjuntos de entrenamiento y validación con __train_test_split__ .
* Genere segmentaciones del 33% para las muestras de validación.
* Incluya una semilla pseudoaleatoria

In [4]:
# separemos los vectores a trabajar
y_vec= df_droped.loc[:, 'medv']
X_mat = df_droped.drop('medv', axis=1)

In [5]:
y_vec.shape

(506,)

In [6]:
y_vec.sample(5)

326    23.0
271    25.2
282    46.0
58     23.3
455    14.1
Name: medv, dtype: float64

In [7]:
X_mat.shape

(506, 13)

In [8]:
X_mat.sample(5)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
49,0.21977,0.0,6.91,0,0.448,5.602,62.0,6.0877,3,233,17.9,396.90,16.20
251,0.21409,22.0,5.86,0,0.431,6.438,8.9,7.3967,7,330,19.1,377.07,3.59
129,0.88125,0.0,21.89,0,0.624,5.637,94.7,1.9799,4,437,21.2,396.90,18.34
78,0.05646,0.0,12.83,0,0.437,6.232,53.7,5.0141,5,398,18.7,386.40,12.34
81,0.04462,25.0,4.86,0,0.426,6.619,70.4,5.4007,4,281,19.0,395.63,7.22

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X_mat, y_vec, test_size=.33, random_state=4968)

In [ ]:
X_train.shape

(339, 13)

In [ ]:
X_train.sample(5)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
485,3.67367,0.0,18.10,0,0.583,6.312,51.9,3.9917,24,666,20.2,388.62,10.58
231,0.46296,0.0,6.20,0,0.504,7.412,76.9,3.6715,8,307,17.4,376.14,5.25
327,0.24103,0.0,7.38,0,0.493,6.083,43.7,5.4159,5,287,19.6,396.90,12.79
422,12.04820,0.0,18.10,0,0.614,5.648,87.6,1.9512,24,666,20.2,291.55,14.10
248,0.16439,22.0,5.86,0,0.431,6.433,49.1,7.8265,7,330,19.1,374.71,9.52

In [ ]:
y_train.shape

(339,)

In [ ]:
y_train.sample(5)

25     13.9
228    46.7
278    29.1
6      22.9
13     20.4
Name: medv, dtype: float64

In [ ]:
X_test.shape

In [ ]:
X_test.sample(5)

In [ ]:
y_test.shape

In [ ]:
y_test.sample(5)

### Desafío 3: Generación de modelos

* Ahora implementaremos dos versiones del modelo lineal:
    * Con intercepto y atributos normalizados.
    * Sin intercepto y atributos no normalizados.
* Cada versión debe generarse en un nuevo objeto inicializado.
* Posteriormente se deben entrenar los modelos especificando la matriz y vector de entrenamiento.
* Con los modelos entrenados, genere una predicción de matriz de validación.

___Modelo de regresión Con intercepto y atributos normalizados___

In [ ]:
modelo_con_intercepto_normalizado = linear_model.LinearRegression(fit_intercept=True, normalize=True)
modelo_con_intercepto_normalizado

In [ ]:
modelo_con_intercepto_normalizado.fit(X_train, y_train) # aprendizaje, entrenar
modelo_con_intercepto_normalizado_predict = modelo_con_intercepto_normalizado.predict(X_test)
modelo_con_intercepto_normalizado_predict.shape

___Modelo de regresion Sin intercepto y atributos no normalizados___

In [ ]:
modelo_sin_intercepto_no_normalizado = linear_model.LinearRegression(fit_intercept=False, normalize=False)
modelo_sin_intercepto_no_normalizado

In [ ]:
modelo_sin_intercepto_no_normalizado.fit(X_train, y_train) # aprendizaje, entrenar
modelo_sin_intercepto_no_normalizado_predict = modelo_sin_intercepto_no_normalizado.predict(X_test)
modelo_sin_intercepto_no_normalizado_predict.shape

### Desafío 4: Obtención de métricas

* Ahora generemos una función llamada __report_scores__ que ingrese como argumentos el vector de datos predichos y el vector de datos por validar.
* La función debe imprimir las métricas del __Error Cuadrático Promedio__ y __R2__.
* Reporte las métricas para ambos modelos. En base a ello, __seleccione el mejor modelo__.

In [ ]:
# Comparar el poder predictivo entre los dos modelos mediante el promedio del error__
def report_scores(y_test, modelo_predict):
    mse_modelo = mean_squared_error(y_test, modelo_predict).round(0)
    r2_modelo = r2_score(y_test, modelo_predict).round(2)
    print("Mean Squared Error: {}".format(mse_modelo))
    print("R-cuadrado: {}".format(r2_modelo))

In [ ]:
print("Modelo con Intercepto y Atributos Normalizados")
print("------------------------------------------------")
report_scores(y_test, modelo_con_intercepto_normalizado_predict)

In [ ]:
print("Modelo sin Intercepto y Atributos no Normalizados")
print("------------------------------------------------")
report_scores(y_test, modelo_sin_intercepto_no_normalizado_predict)

__Existe evidencia para preferir el Modelo con Intercepto y Atributos Normalizados, dado que presenta un mejor nivel de ajuste (Mean Squared Error) y una mejor capacidad explicativa (R-cuadrado) en la variabilidad de nuestro vector objetivo.__

### Desafío 5: Refactorización del modelo

* Genere una función llamada fetch_features que ingrese como argumentos la base de datos y el nombre del vector objetivo. El nombre del vector debe ser medv por defecto
* La función debe retornar una lista con las correlaciones entre cada atributo y el vector objetivo y su nombre.
* Reporte brevemente cuales los 6 atributos con una mayor correlación con medv

In [ ]:
def fetch_features(dataframe, vector_objetivo="medv"):
    # extraemos los nombres de las columnas en la base de datos
    columns = dataframe.columns
    # generamos 3 arrays vacíos para guardar los valores
    # nombre de la variable
    attr_name = []
    # correlación de pearson
    pearson_r = []
    # valor absoluto de la correlación
    abs_pearson_r = []
    # para cada columna en el array de columnas
    for col in columns:
        # si la columna no es la dependiente
        if col != vector_objetivo:
            # adjuntar el nombre de la variable en attr_name
            attr_name.append(col)
            # adjuntar la correlación de pearson
            pearson_r.append(dataframe[col].corr(dataframe[vector_objetivo]))
            # adjuntar el absoluto de la correlación de pearson
            abs_pearson_r.append(abs(dataframe[col].corr(dataframe[vector_objetivo])))
    # transformamos los arrays en un DataFrame
    features = pd.DataFrame({
        'attribute': attr_name,
        'corr':pearson_r,
        'abs_corr':abs_pearson_r
    })
    # generamos el index con los nombres de las variables
    features = features.set_index('attribute')
    # ordenamos los valores de forma descendiente
    return features.sort_values(by=['abs_corr'], ascending=False)

In [ ]:
fetch_features(df_droped)

__Para reducir el error cuadrático seleccionaremos aquellas correlaciones que sean superior al .40.__

In [ ]:
fetch_features(df_droped).head(6)

__Los 6 atributos con una mayor correlación con el valor mediano de las casas (medv) son: porcentaje de población de estratos bajos (lstat), cantidad promedio de habitaciones por casa (rm), cantidad promedio de habitaciones por casa (ptratio), proporción de negocios no asociados al comercio por sector (indus), nivel de impuestos asociados a viviendas (tax) y Concentración de dióxido de carbono (nox).__

### Desafío 6: Refactorización del modelo predictivo

* Genere otros conjuntos de entrenamiento y validación en base a una matriz con los 6 atributos identificados y el vector objetivo.
* Entrene un modelo en base al mejor desempeño.
* Reporte las métricas para el nuevo modelo

In [ ]:
# separemos los vectores a trabajar
y_vec_ref = df.loc[:, 'medv']
X_mat_ref = df.loc[:, ['lstat', 'rm', 'ptratio', 'indus', 'tax', 'nox']]

In [ ]:
X_train_ref, X_test_ref, y_train_ref, y_test_ref = train_test_split(X_mat_ref, 
                                                                    y_vec_ref, 
                                                                    test_size=.33, 
                                                                    random_state=4968)

In [ ]:
modelo_refactorizado = linear_model.LinearRegression(fit_intercept=True, normalize=True)
modelo_refactorizado.fit(X_train_ref, y_train_ref)
modelo_refactorizado_predict = modelo_refactorizado.predict(X_test_ref)

In [ ]:
modelo_refactorizado_predict.shape

In [ ]:
report_scores(y_test, modelo_con_intercepto_normalizado_predict)

In [ ]:
print("Modelo con Intercepto y Atributos Normalizados (Refactorizado) ")
print("------------------------------------------------")
report_scores(y_test_ref, modelo_refactorizado_predict)

__Podemos observar que el modelo "refactorizado" presenta un "aumento leve" en el valor de Mean Squared Error y una "disminución" del valor R-cuadrado en comparación con el Modelo con Intercepto y Atributos Normalizados elegido__

### Desafío 7: Predicción de casos | (Pendiente)