# Desafío - Control de Flujo

## Cristian Vidal Muñoz

### Desafío 1
Generar un par de arrays ficticios con numpy
* tip: utilice la función linspace para generar un array entre 1 y 50, y un array entre 50 y 150.

In [1]:
import numpy as np

In [26]:
arreglo_uno = np.linspace(start=1,stop=50, dtype = int)

In [3]:
arreglo_uno

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50])

In [31]:
arreglo_dos = np.linspace(start=50,stop=150, num=101, dtype = int)

In [32]:
arreglo_dos

array([ 50,  51,  52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,
        63,  64,  65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,
        76,  77,  78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,
        89,  90,  91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101,
       102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114,
       115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127,
       128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140,
       141, 142, 143, 144, 145, 146, 147, 148, 149, 150])

### Desafío 2
Ejecute un loop que devuelva si el número en el primer array es par o impar
* tip: utilice la función módulo para encontrar si el número es divisible por 2

In [33]:
for numero in arreglo_uno:
    if numero %2 == 0:
        print('El número {} es par'.format(numero))
    else:
        print('El número {} es impar'.format(numero))

El número 1 es impar
El número 2 es par
El número 3 es impar
El número 4 es par
El número 5 es impar
El número 6 es par
El número 7 es impar
El número 8 es par
El número 9 es impar
El número 10 es par
El número 11 es impar
El número 12 es par
El número 13 es impar
El número 14 es par
El número 15 es impar
El número 16 es par
El número 17 es impar
El número 18 es par
El número 19 es impar
El número 20 es par
El número 21 es impar
El número 22 es par
El número 23 es impar
El número 24 es par
El número 25 es impar
El número 26 es par
El número 27 es impar
El número 28 es par
El número 29 es impar
El número 30 es par
El número 31 es impar
El número 32 es par
El número 33 es impar
El número 34 es par
El número 35 es impar
El número 36 es par
El número 37 es impar
El número 38 es par
El número 39 es impar
El número 40 es par
El número 41 es impar
El número 42 es par
El número 43 es impar
El número 44 es par
El número 45 es impar
El número 46 es par
El número 47 es impar
El número 48 es par
El número 49 es impar
El número 50 es par

### Desafío 3
Genere un loop con el segundo array que cuente las siguientes condiciones
* Si el número es divisible por 2 o 3
* Si el número es divisible por 2 y 3
* Si el número es divisible por 3 pero no por 2
* si el número no es divisible por 2 ni 3

In [38]:
numero_divisible_por_2_o_3 = 0
numero_divisible_por_2_y_3 = 0
numero_divisible_por_3_y_no_por_2 = 0
numero_no_divisible_por_2_ni_3 = 0

for numero in arreglo_dos:
    if numero %2 == 0 or numero %3 == 0:
        numero_divisible_por_2_o_3+=1
    if numero %2 == 0 and numero %3 == 0:
        numero_divisible_por_2_y_3+=1
    if numero %3 == 0 and numero %2 != 0:
        numero_divisible_por_3_y_no_por_2+=1
    if numero %2 != 0 and numero %3 != 0:
        numero_no_divisible_por_2_ni_3+=1

In [42]:
print('Cantidad de números divisible por 2 o 3: {}'.format(numero_divisible_por_2_o_3))
print('Cantidad de números divisible por 2 y 3: {}'.format(numero_divisible_por_2_y_3))
print('Cantidad de números divisible por 3 pero no por 2: {}'.format(numero_divisible_por_3_y_no_por_2))
print('Cantidad de número no divisibles por 2 ni 3: {}'.format(numero_no_divisible_por_2_ni_3))

Cantidad de números divisible por 2 o 3: 68
Cantidad de números divisible por 2 y 3: 17
Cantidad de números divisible por 3 pero no por 2: 17
Cantidad de número no divisibles por 2 ni 3: 33

### Desafío 4
Corrección de errores

In [43]:
for i in range(100):
    print(i**2)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500
2601
2704
2809
2916
3025
3136
3249
3364
3481
3600
3721
3844
3969
4096
4225
4356
4489
4624
4761
4900
5041
5184
5329
5476
5625
5776
5929
6084
6241
6400
6561
6724
6889
7056
7225
7396
7569
7744
7921
8100
8281
8464
8649
8836
9025
9216
9409
9604
9801

### Desafío 5
* Utilizando la misma base flights.csv hacer un loop y clasificar los meses con una cantidad
de pasajeros menor a la media

In [44]:
import pandas as pd
import numpy as np

df = pd.read_csv('flights.csv')

* Para ello, generen un nuevo objeto que represente la media de passengers

In [45]:
media_passengers = df['passengers'].mean()

In [47]:
media_passengers

280.2986111111111

* Generen una columna en la base de datos que se llame underperforming y asígnele 0.

In [48]:
df['underperforming'] = 0

In [49]:
df.head()

   year     month  passengers  underperforming
0  1949   January         112                0
1  1949  February         118                0
2  1949     March         132                0
3  1949     April         129                0
4  1949       May         121                0

* Ejecuten un loop que recorra cada observación de passengers , donde si la observación es menor a la media de passengers se le asigne a underperforming un 1.
* Para asignar unos en la columna underperforming ya creada, utilice la función set_value

In [53]:
for indice, rowseries in df.iterrows():
    if rowseries['passengers'] < media_passengers:
        #df.set_value(indice, 'underperforming', 1)
        df.at[indice, 'underperforming'] = 1

In [54]:
df.sample(10)

     year      month  passengers  underperforming
101  1957       June         422                0
130  1959   November         362                0
117  1958    October         359                0
62   1954      March         235                1
75   1955      April         269                1
8    1949  September         136                1
124  1959        May         420                0
85   1956   February         277                1
51   1953      April         235                1
140  1960  September         508                0

### Desafío 6
* Hacer un loop que clasifique los meses donde la cantidad de pasajeros se escapa de la tendencia.

* Para ello, genere dos objetos que guarden la media general y la desviación estandar general de passengers .

In [15]:
media_general_passengers = df["passengers"].mean()
desviacion_estandar_passengers = np.std(df["passengers"])

In [16]:
media_general_passengers

280.2986111111111

In [17]:
desviacion_estandar_passengers

119.54904153277148

* Genere una nueva columna en la tabla de datos que se llame outlier y asignele 0.

In [18]:
df['outlier'] = 0

In [19]:
df.head()

   year     month  passengers  underperforming  outlier
0  1949   January         112                1        0
1  1949  February         118                1        0
2  1949     March         132                1        0
3  1949     April         129                1        0
4  1949       May         121                1        0

* Ejecuten un loop que recorra cada observación de passengers , donde si la observación se escapa de la tendencia sea 1, de lo contrario 0.
* Para clasificar los casos que se escapen la tendencia, la observación debe satisfacer una de las siguientes condiciones:
    - La observación debe ser menor a la media menos la desviación estándar, o
    - La observación debe ser mayor a la media más la desviación estándar

In [20]:
for indice, rowseries in df.iterrows():
    if rowseries['passengers'] < (media_general_passengers - desviacion_estandar_passengers):
        #df.set_value(indice, 'outlier', 1)
        df.at[indice, 'outlier'] = 1
    if rowseries['passengers'] > (media_general_passengers + desviacion_estandar_passengers):
        #df.set_value(indice, 'outlier', 1)
        df.at[indice, 'outlier'] = 1

In [21]:
df.sample(5)

     year      month  passengers  underperforming  outlier
128  1959  September         463                0        1
56   1953  September         237                1        0
131  1959   December         405                0        1
41   1952       June         218                1        0
31   1951     August         199                1        0

* ¿Cuántas observaciones se pueden clasificar como casos extremos?

In [22]:
casos_extremos = df[df['outlier'] == 1]

In [23]:
cantidad_casos_extremos = len(casos_extremos)

In [24]:
cantidad_casos_extremos

53

In [25]:
df['outlier'].value_counts()

0    91
1    53
Name: outlier, dtype: int64

### Se puede observar que existen 53 observaciones consideradas como casos extremos