In [3]:
import pandas as pd

In [5]:
pd.read_csv('alumnos.csv')

       nombre  altura  peso  edad sexo
0        Hugo    1.67    60    23    h
1        Paco    1.73    83    25    h
2        Luis    1.62    70    28    h
3       Diana    1.58    58    21    m
4   Francisco    1.86    98    28    h
5      Felipe    1.79   100    26    h
6     Jacinta    1.69    62    20    m
7    Bernardo    1.60    83    31    h
8     Marisol    1.60    56    30    m
9     Facundo    1.98   112    36    h
10   Trinidad    1.72    72    21    m
11     Camila    1.63    57    26    m
12   Macarena    1.73    68    27    m
13      Diego    1.62    78    23    h
14    Gonzalo    1.58    67    22    h
15  Alejandra    1.86    74    21    m
16   Fernando    1.79    93    27    h
17   Carolina    1.60    63    28    m
18    Vicente    1.98   102    31    h
19   Benjamín    1.72    78    36    h
20     Gloria    1.58    65    23    m

In [8]:
df = pd.read_csv('alumnos.csv')

In [10]:
df.head(5)

      nombre  altura  peso  edad sexo
0       Hugo    1.67    60    23    h
1       Paco    1.73    83    25    h
2       Luis    1.62    70    28    h
3      Diana    1.58    58    21    m
4  Francisco    1.86    98    28    h

In [12]:
type(df)

pandas.core.frame.DataFrame

In [13]:
df.columns

Index(['nombre', 'altura', 'peso', 'edad', 'sexo'], dtype='object')

In [15]:
df['altura']

0     1.67
1     1.73
2     1.62
3     1.58
4     1.86
5     1.79
6     1.69
7     1.60
8     1.60
9     1.98
10    1.72
11    1.63
12    1.73
13    1.62
14    1.58
15    1.86
16    1.79
17    1.60
18    1.98
19    1.72
20    1.58
Name: altura, dtype: float64

In [17]:
type (df['altura'])

pandas.core.series.Series

In [22]:
df.iloc[1,:]

nombre    Paco
altura    1.73
peso        83
edad        25
sexo         h
Name: 1, dtype: object

In [23]:
df['sexo'].index

RangeIndex(start=0, stop=21, step=1)

In [26]:
df['sexo'].values

array(['h', 'h', 'h', 'm', 'h', 'h', 'm', 'h', 'm', 'h', 'm', 'm', 'm',
       'h', 'h', 'm', 'h', 'm', 'h', 'h', 'm'], dtype=object)

In [27]:
peso_alumnos = df['peso']

In [28]:
peso_alumnos

0      60
1      83
2      70
3      58
4      98
5     100
6      62
7      83
8      56
9     112
10     72
11     57
12     68
13     78
14     67
15     74
16     93
17     63
18    102
19     78
20     65
Name: peso, dtype: int64

In [29]:
type(peso_alumnos)

pandas.core.series.Series

In [30]:
peso_alumnos[:5]

0    60
1    83
2    70
3    58
4    98
Name: peso, dtype: int64

In [33]:
peso_alumnos[2:10]

2     70
3     58
4     98
5    100
6     62
7     83
8     56
9    112
Name: peso, dtype: int64

# Medidas de tendencia central

In [34]:
media_nativo = sum(df['altura'])/ len(df['altura'])

In [36]:
media_pandas = df['altura'].mean()

In [37]:
import numpy as np

In [40]:
media_numpy = np.mean(df['altura'])

In [42]:
for valor_media in [media_nativo, media_pandas, media_numpy]:
    print(valor_media)

1.7109523809523806
1.7109523809523806
1.7109523809523806

In [43]:
from scipy import stats

In [44]:
stats.mode(df['altura'])

ModeResult(mode=array([1.58]), count=array([3]))

In [46]:
df['altura'].median()

1.69

In [47]:
np.median(df['altura'])

1.69

# Medidas de dispersión

In [48]:
df['altura'].var()

0.01580904761904761

In [49]:
df['altura'].mean()

1.7109523809523806