In [3]:
import pandas as pd

In [5]:
pd.read_csv('alumnos.csv')

       nombre  altura  peso  edad sexo
0        Hugo    1.67    60    23    h
1        Paco    1.73    83    25    h
2        Luis    1.62    70    28    h
3       Diana    1.58    58    21    m
4   Francisco    1.86    98    28    h
5      Felipe    1.79   100    26    h
6     Jacinta    1.69    62    20    m
7    Bernardo    1.60    83    31    h
8     Marisol    1.60    56    30    m
9     Facundo    1.98   112    36    h
10   Trinidad    1.72    72    21    m
11     Camila    1.63    57    26    m
12   Macarena    1.73    68    27    m
13      Diego    1.62    78    23    h
14    Gonzalo    1.58    67    22    h
15  Alejandra    1.86    74    21    m
16   Fernando    1.79    93    27    h
17   Carolina    1.60    63    28    m
18    Vicente    1.98   102    31    h
19   Benjamín    1.72    78    36    h
20     Gloria    1.58    65    23    m

In [8]:
df = pd.read_csv('alumnos.csv')

In [9]:
df.head(5)

      nombre  altura  peso  edad sexo
0       Hugo    1.67    60    23    h
1       Paco    1.73    83    25    h
2       Luis    1.62    70    28    h
3      Diana    1.58    58    21    m
4  Francisco    1.86    98    28    h