In [3]:
import pandas as pd

In [5]:
pd.read_csv('alumnos.csv')

       nombre  altura  peso  edad sexo
0        Hugo    1.67    60    23    h
1        Paco    1.73    83    25    h
2        Luis    1.62    70    28    h
3       Diana    1.58    58    21    m
4   Francisco    1.86    98    28    h
5      Felipe    1.79   100    26    h
6     Jacinta    1.69    62    20    m
7    Bernardo    1.60    83    31    h
8     Marisol    1.60    56    30    m
9     Facundo    1.98   112    36    h
10   Trinidad    1.72    72    21    m
11     Camila    1.63    57    26    m
12   Macarena    1.73    68    27    m
13      Diego    1.62    78    23    h
14    Gonzalo    1.58    67    22    h
15  Alejandra    1.86    74    21    m
16   Fernando    1.79    93    27    h
17   Carolina    1.60    63    28    m
18    Vicente    1.98   102    31    h
19   Benjamín    1.72    78    36    h
20     Gloria    1.58    65    23    m

In [8]:
df = pd.read_csv('alumnos.csv')

In [10]:
df.head(5)

      nombre  altura  peso  edad sexo
0       Hugo    1.67    60    23    h
1       Paco    1.73    83    25    h
2       Luis    1.62    70    28    h
3      Diana    1.58    58    21    m
4  Francisco    1.86    98    28    h

In [12]:
type(df)

pandas.core.frame.DataFrame

In [13]:
df.columns

Index(['nombre', 'altura', 'peso', 'edad', 'sexo'], dtype='object')

In [15]:
df['altura']

0     1.67
1     1.73
2     1.62
3     1.58
4     1.86
5     1.79
6     1.69
7     1.60
8     1.60
9     1.98
10    1.72
11    1.63
12    1.73
13    1.62
14    1.58
15    1.86
16    1.79
17    1.60
18    1.98
19    1.72
20    1.58
Name: altura, dtype: float64

In [17]:
type (df['altura'])

pandas.core.series.Series

In [22]:
df.iloc[1,:]

nombre    Paco
altura    1.73
peso        83
edad        25
sexo         h
Name: 1, dtype: object

In [23]:
df['sexo'].index

RangeIndex(start=0, stop=21, step=1)

In [26]:
df['sexo'].values

array(['h', 'h', 'h', 'm', 'h', 'h', 'm', 'h', 'm', 'h', 'm', 'm', 'm',
       'h', 'h', 'm', 'h', 'm', 'h', 'h', 'm'], dtype=object)

In [27]:
peso_alumnos = df['peso']

In [28]:
peso_alumnos

0      60
1      83
2      70
3      58
4      98
5     100
6      62
7      83
8      56
9     112
10     72
11     57
12     68
13     78
14     67
15     74
16     93
17     63
18    102
19     78
20     65
Name: peso, dtype: int64

In [29]:
type(peso_alumnos)

pandas.core.series.Series

In [30]:
peso_alumnos[:5]

0    60
1    83
2    70
3    58
4    98
Name: peso, dtype: int64

In [33]:
peso_alumnos[2:10]

2     70
3     58
4     98
5    100
6     62
7     83
8     56
9    112
Name: peso, dtype: int64

# Medidas de tendencia central

In [34]:
media_nativo = sum(df['altura'])/ len(df['altura'])

In [36]:
media_pandas = df['altura'].mean()

In [37]:
import numpy as np

In [40]:
media_numpy = np.mean(df['altura'])

In [42]:
for valor_media in [media_nativo, media_pandas, media_numpy]:
    print(valor_media)

1.7109523809523806
1.7109523809523806
1.7109523809523806

In [43]:
from scipy import stats

In [44]:
stats.mode(df['altura'])

ModeResult(mode=array([1.58]), count=array([3]))

In [46]:
df['altura'].median()

1.69

In [47]:
np.median(df['altura'])

1.69

# Medidas de dispersión

In [48]:
df['altura'].var()

0.01580904761904761

In [49]:
df['altura'].mean()

1.7109523809523806

In [50]:
df['altura'].std()

0.1257340352452255

In [51]:
np.std(df['altura'])

0.12270385416792902

In [53]:
for altura in df['altura']:
    print('{} es del tipo. {}'.format(altura, type(altura)))

1.67 es del tipo. <class 'float'>
1.73 es del tipo. <class 'float'>
1.62 es del tipo. <class 'float'>
1.58 es del tipo. <class 'float'>
1.86 es del tipo. <class 'float'>
1.79 es del tipo. <class 'float'>
1.69 es del tipo. <class 'float'>
1.6 es del tipo. <class 'float'>
1.6 es del tipo. <class 'float'>
1.98 es del tipo. <class 'float'>
1.72 es del tipo. <class 'float'>
1.63 es del tipo. <class 'float'>
1.73 es del tipo. <class 'float'>
1.62 es del tipo. <class 'float'>
1.58 es del tipo. <class 'float'>
1.86 es del tipo. <class 'float'>
1.79 es del tipo. <class 'float'>
1.6 es del tipo. <class 'float'>
1.98 es del tipo. <class 'float'>
1.72 es del tipo. <class 'float'>
1.58 es del tipo. <class 'float'>

In [55]:
for altura in df['altura']:
    print(altura + 1.00)

2.67
2.73
2.62
2.58
2.8600000000000003
2.79
2.69
2.6
2.6
2.98
2.7199999999999998
2.63
2.73
2.62
2.58
2.8600000000000003
2.79
2.6
2.98
2.7199999999999998
2.58

In [58]:
for index in df['altura'].index:
    if index % 2 == 0:
        print(df['altura'][index])

1.67
1.62
1.86
1.69
1.6
1.72
1.73
1.58
1.79
1.98
1.58

In [60]:
mean_peso = df['peso'].mean()

In [61]:
mean_peso

76.14285714285714

In [64]:
for peso in df['peso']:
    if peso > mean_peso:
        print('{} tiene un peso sobre el promedio'.format(peso))
    else:
        print('{} tiene un peso bajo el promedio'.format(peso))

60 tiene un peso bajo el promedio
83 tiene un peso sobre el promedio
70 tiene un peso bajo el promedio
58 tiene un peso bajo el promedio
98 tiene un peso sobre el promedio
100 tiene un peso sobre el promedio
62 tiene un peso bajo el promedio
83 tiene un peso sobre el promedio
56 tiene un peso bajo el promedio
112 tiene un peso sobre el promedio
72 tiene un peso bajo el promedio
57 tiene un peso bajo el promedio
68 tiene un peso bajo el promedio
78 tiene un peso sobre el promedio
67 tiene un peso bajo el promedio
74 tiene un peso bajo el promedio
93 tiene un peso sobre el promedio
63 tiene un peso bajo el promedio
102 tiene un peso sobre el promedio
78 tiene un peso sobre el promedio
65 tiene un peso bajo el promedio

In [65]:
for i in df:
    print(i)

nombre
altura
peso
edad
sexo

In [66]:
df.head(5)

      nombre  altura  peso  edad sexo
0       Hugo    1.67    60    23    h
1       Paco    1.73    83    25    h
2       Luis    1.62    70    28    h
3      Diana    1.58    58    21    m
4  Francisco    1.86    98    28    h

In [71]:
for colname, serie in df.iteritems():
    print(colname)
    print(serie[3:5])

nombre
3        Diana
4    Francisco
Name: nombre, dtype: object
altura
3    1.58
4    1.86
Name: altura, dtype: float64
peso
3    58
4    98
Name: peso, dtype: int64
edad
3    21
4    28
Name: edad, dtype: int64
sexo
3    m
4    h
Name: sexo, dtype: object

In [78]:
for colname, serie in df.iteritems():
    if serie.dtype == 'object':
        print('La columna {} es un objeto'.format(colname))
    else:
        print('La media de la columna {} es de {}'.format(colname, serie.mean()))

La columna nombre es un objeto
La media de la columna altura es de 1.7109523809523806
La media de la columna peso es de 76.14285714285714
La media de la columna edad es de 26.333333333333332
La columna sexo es un objeto